* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url(/image/Background.png);
}

header {
    -webkit-box-shadow: black 3px 3px 3px;
    box-shadow: black 3px 3px 3px;
    width: 100%;
    height: 10%;
}

.logo {
    height: 100%;
}
.logo img {
    margin-left: 2%;
    height: 100%;
}

section {
    height: 85%;
}

footer {
    height: 5%;
}